In [54]:
import pandas as pd

In [57]:
df = pd.read_csv('https://raw.githubusercontent.com/JerrySYC/SSB_data_science/main/messy_data.csv')

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1002)>

In [ ]:
df

     Age       Income  Gender Product  Quantity
0     56  59544.57663  Female       D         3
1     46  36399.18997  Female     NaN         1
2     32  57140.63881  Female       D         2
3     60  69554.91903    Male       C         5
4     25  53173.80518  Female       D         2
..   ...          ...     ...     ...       ...
100   61  37341.55459    Male       D         5
101   55  35516.63492  Female       A         3
102   31  53254.05089    Male       B         2
103   21          NaN    Male       B         2
104   60  69554.91903    Male       C         5

[105 rows x 5 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       105 non-null    int64
 1   Income    94 non-null     float64
 2   Gender    105 non-null    object
 3   Product   100 non-null    object
 4   Quantity  105 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.2+ KB

In [ ]:
df.describe(include='all')

               Age         Income  Gender Product   Quantity
count   105.000000      94.000000     105     100  105.00000
unique         NaN            NaN       2       4        NaN
top            NaN            NaN  Female       D        NaN
freq           NaN            NaN      58      28        NaN
mean     42.076190   52867.862808     NaN     NaN    3.20000
std      15.940813   29896.579420     NaN     NaN    1.44382
min      18.000000   20901.331720     NaN     NaN    1.00000
25%      31.000000   37814.315255     NaN     NaN    2.00000
50%      41.000000   48760.369705     NaN     NaN    3.00000
75%      55.000000   61644.277868     NaN     NaN    5.00000
max     120.000000  300000.000000     NaN     NaN    5.00000

In [ ]:
df[df['Product'].isnull()] #Locate all missing values in Product Column

    Age       Income  Gender Product  Quantity
1    46  36399.18997  Female     NaN         1
34   64  40845.16974  Female     NaN         2
45   31  30330.13661    Male     NaN         5
86   43  63312.67422  Female     NaN         4
94   42  67538.11470    Male     NaN         1

Select all the missing values in the product column

In [ ]:
df.iloc[50]

Age                  45
Income      33556.01307
Gender           Female
Product               C
Quantity              5
Name: 50, dtype: object

In [ ]:
df[df['Product'] == 'D'] #filter product with name D, if add .head() after that, will only display the first 5 rows

     Age       Income  Gender Product  Quantity
0     56  59544.57663  Female       D         3
2     32  57140.63881  Female       D         2
4     25  53173.80518  Female       D         2
6     56  36554.97225    Male       D         1
8     40  72034.11928    Male       D         2
9     28  33141.52498  Female       D         3
16    39  57016.92130    Male       D         4
19    61  37341.55459    Male       D         5
26    39  38269.28261  Female       D         2
28    42          NaN    Male       D         1
32    33          NaN    Male       D         2
35    61  45257.51155  Female       D         5
37    54  46567.28726  Female       D         4
47    43  42400.35171  Female       D         1
49    37  94154.95125  Female       D         5
60    57  66300.90535  Female       D         1
65    21  28602.81673  Female       D         2
74    48  47940.63494    Male       D         2
76    25  49318.96017  Female       D         2
80    38  50421.49195  Female       D         1
82    62  61845.09207  Female       D         5
84    64  33548.71552    Male       D         2
85    41  39765.47654  Female       D         1
87    42  59082.24696    Male       D         3
89    58  45950.99346  Female       D         4
93    18  50984.73737  Female       D         1
96    26  53084.75201    Male       D         3
100   61  37341.55459    Male       D         5

In [ ]:
df[df['Income'] > 40000] #Filter people that has income greater then 40000

     Age        Income  Gender Product  Quantity
0     56   59544.57663  Female       D         3
2     32   57140.63881  Female       D         2
3     60   69554.91903    Male       C         5
4     25   53173.80518  Female       D         2
5     38   58955.66969  Female       A         2
..   ...           ...     ...     ...       ...
95    24   63099.75454  Female       B         5
96    26   53084.75201    Male       D         3
99    61  300000.00000    Male       B         4
102   31   53254.05089    Male       B         2
104   60   69554.91903    Male       C         5

[64 rows x 5 columns]

In [ ]:
df[df['Product'] == 'D'].describe() #Generate description for people that purchase product D

             Age        Income   Quantity
count  28.000000     26.000000  28.000000
mean   43.107143  49876.379810   2.642857
std    13.982368  14148.860233   1.445665
min    18.000000  28602.816730   1.000000
25%    32.750000  38643.331093   1.750000
50%    41.500000  48629.797555   2.000000
75%    56.250000  57109.709432   4.000000
max    64.000000  94154.951250   5.000000

In [ ]:
type(df['Product'])

pandas.core.series.Series

In [ ]:
print(df['Income'].mean(), df['Income'].median())

52867.86280776596 48760.369705

In [ ]:
df[df['Income'].isnull()]

     Age  Income  Gender Product  Quantity
11    41     NaN  Female       A         5
12    53     NaN    Male       B         1
28    42     NaN    Male       D         1
32    33     NaN    Male       D         2
39    38     NaN    Male       A         1
42    35     NaN    Male       B         1
43    21     NaN    Male       B         2
64    59     NaN  Female       B         2
66    46     NaN  Female       C         5
73    31     NaN  Female       A         4
103   21     NaN    Male       B         2

In [ ]:
df2 = df.copy()

In [ ]:
df2['Income'] = df2['Income'].fillna(df2['Income'].mean())

In [ ]:
df2['Income'].mean()

52867.86280776597

In [ ]:
df2.describe()

              Age         Income   Quantity
count  105.000000     105.000000  105.00000
mean    42.076190   52867.862808    3.20000
std     15.940813   28271.334333    1.44382
min     18.000000   20901.331720    1.00000
25%     31.000000   38389.356040    2.00000
50%     41.000000   52529.890810    3.00000
75%     55.000000   59255.056640    5.00000
max    120.000000  300000.000000    5.00000

In [ ]:
df['Product'] = df['Product'].fillna('D')